{$DOMAIN:link-it.tech} {
    reverse_proxy /api/* backend:8000 {
        flush_interval -1
    }
    reverse_proxy * frontend:3000
    
    # Compress responses for speed
    encode gzip
}

www.{$DOMAIN:link-it.tech} {
    redir https://{$DOMAIN:link-it.tech}{uri}
}
